@charset "utf-8";
/* CSS Document */

form {
    text-align: left; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}


/* Navbar styles */
.navbar {
    background-color: #0047AB !important;
}

.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-nav .nav-link:hover {
    color: #89CFF0 !important;
}

.container {
    max-width: 800px;
    margin-top: 80px;
    text-align: center;
    padding: 40px;
    background-color: #0047AB;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-title {
    font-size: 65px; 
}

.welcome-slogan {
     font-weight: bold;
     color: #89CFF0
}

/* Heading styles */
h1, h2, h3 {
    text-align: center;
    color: #343a40;
}

h1 {
    margin-top: 20px;
}

h2 {
    margin-top: 10px;
}

h3 {
    margin-top: 5px;
}

h4 {
    text-align: center;
    color: #ffffff
}

/* Form styles */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.submit-button {
    background-color: #0047AB; 
    color: white;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; 
}

.submit-button:hover {
    background-color: #89CFF0; 
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; 
    box-sizing: border-box;
}

